<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Picsum photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-list>
    <ion-list-header>
      List Images
    </ion-list-header>

    <ion-item *ngFor="let image of imagesList">
      <ion-avatar slot="start">
        <img alt="{{image.author}}" src="{{image.download_url}}">
      </ion-avatar>
      <ion-label>
        <h2>{{image.author}}</h2>
      </ion-label>
    </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreImages($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more images...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
