<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Picsum photos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar
            showcancelbutton=""
            (ionInput)="filterList($event)"
            (ionChange)="detectChangeSearchBar($event)"
    ></ion-searchbar>
    <div class="ion-padding">
        <ion-list>
            <ion-list-header>
                List Images
            </ion-list-header>

            <ion-item *ngFor="let image of imagesList">
                <ion-thumbnail slot="start">
                    <img-loader src="{{image.download_url}}"></img-loader>
                </ion-thumbnail>
                <ion-label>
                    <h2>{{image.author}}</h2>
                    <ion-button expand="block" [routerLink]="'/detail/'+image.id">
                        Details
                    </ion-button>
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreImages($event)" [disabled]=disableInfiniteScroll>
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more images...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
